Repository coderbunker/modern-resume-env: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, yamllint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude: ^\.envrc$
      - id: shfmt
        name: shfmt
        entry: shfmt -w
        language: system
        types: [shell]
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        types: [nix]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        args: [-d, "{extends: relaxed, rules: {line-length: disable}}"]
      - id: markdownlint
        name: markdownlint
        entry: markdownlint --fix
        language: system
        types: [markdown]
        exclude: ^CHANGELOG\.md$
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]

feat: Install direnv if not present within the setup-nix-env action.
  .github/actions/setup-nix-env/action.yml
Due: yamllint

ci: create reusable docker-ci workflow
  .agent/rules/no-auto-commit.md
  .github/workflows/docker-ci.yml
Due: yamllint, markdownlint

fix(ci): add setup-buildx-action to reusable workflow
  .github/workflows/docker-ci.yml
Due: yamllint

fix(ci): evaluate boolean flag properly in metadata-action
  .github/workflows/docker-ci.yml
Due: yamllint

fix(ci): evaluate string true flag properly in metadata-action
  .github/workflows/docker-ci.yml
Due: yamllint

fix(ci): evaluate tags list format using conditionals
  .github/workflows/docker-ci.yml
Due: yamllint

fix(ci): restore original tags boolean enable syntax
  .github/workflows/docker-ci.yml
Due: yamllint

feat: Introduce repolinter configuration, a semantic release workflow, and integrate actionlint into pre-commit hooks and the Nix development shell.
  .github/actionlint.yaml
  .github/workflows/lint.yml
  .github/workflows/semantic-release.yml
  .pre-commit-config.yaml
  flake.nix
Due: nixpkgs-fmt, yamllint

feat: Implement reusable GitHub Actions for standardized Docker tagging, linting, and build notifications, updating CI workflows and documentation.
  .github/actions/bun-test/action.yml
  .github/actions/docker-tag-generator/action.yml
  .github/actions/lint-action/action.yml
  .github/actions/post-build-notification/action.yml
  .github/workflows/docker-ci.yml
  BUILD.md
  docs/LINTING.md
  docs/RELEASE.md
Due: yamllint, markdownlint

feat: Refactor flake.nix to categorize packages and externalize version reporting to a new `versions.sh` script, adding new development tools.
  flake.nix
  scripts/versions.sh
Due: nixpkgs-fmt

refactor: Centralize shell utilities and conditionally apply shell hooks based on tool availability.
  flake.nix
  scripts/setup-hooks.sh
Due: nixpkgs-fmt

feat: add optional input to install dependencies before linting
  .github/actions/lint-action/action.yml
Due: yamllint

refactor: Consolidate environment setup logic into new `setup-env` and `setup-bun-env` composite actions.
  .github/actions/bun-test/action.yml
  .github/actions/lint-action/action.yml
  .github/actions/setup-bun-env/action.yml
  .github/actions/setup-env/action.yml
Due: yamllint

feat: Add `github_token` input to `setup-bun-env` action for explicit GitHub Packages authentication.
  .github/actions/setup-bun-env/action.yml
  .github/actions/setup-env/action.yml
Due: yamllint

feat: Introduce unified versioning action, enhance Docker tag generation, and expand build notification states.
  .github/actions/docker-tag-generator/action.yml
  .github/actions/get-version/action.yml
  .github/actions/post-build-notification/action.yml
  .github/actions/unified-version/action.yml
Due: yamllint

refactor: enforce absolute paths for GitHub Actions and add a pre-commit hook to validate them.
  .github/scripts/check-relative-actions.sh
  .github/workflows/docker-ci.yml
  .github/workflows/lint.yml
  .github/workflows/push-to-s3.yml
  .pre-commit-config.yaml
Due: yamllint

feat: Introduce a repository linter workflow with pre-commit hook and Nix flake checks, and enhance build notifications to include commit messages and detailed failure information.
  .github/actions/post-build-notification/action.yml
  .github/scripts/check-precommit-hooks.sh
  .github/workflows/repolinter.yml
Due: yamllint

feat: Pass `NODE_AUTH_TOKEN` as a secret to Docker build and remove `GITHUB_TOKEN` secret requirement from repolinter workflow call.
  .github/workflows/docker-ci.yml
  .github/workflows/repolinter.yml
Due: yamllint

feat: enhance build notifications with Docker artifact details and add concurrency control to linting workflows.
  .github/actions/post-build-notification/action.yml
  .github/workflows/docker-ci.yml
  .github/workflows/lint.yml
  .github/workflows/repolinter.yml
Due: yamllint

ci: Remove concurrency configuration from repolinter workflow.
  .github/workflows/repolinter.yml
Due: yamllint

feat: Enable semantic-release in Bun CI by provisioning npm and configuring main branch releases.
  .github/actions/unified-version/action.yml
  .releaserc.json
  docs/incidents/2026-02-28-semantic-release-bun.md
Due: yamllint, markdownlint

docs: Add incident report for agent broken path and update actionlint workflow `workdir` parameter to `working-directory`.
  .github/workflows/repolinter.yml
  docs/incidents/2026-02-28-agent-broken-path.md
Due: yamllint, markdownlint

ci: add GitHub Packages authentication setup to repolinter workflow.
  .github/workflows/repolinter.yml
Due: yamllint

ci: Configure GitHub Packages npmrc globally for the runner instead of within the target repository.
  .github/workflows/repolinter.yml
Due: yamllint

feat: Add a CI check to prevent non-Western characters in files.
  .github/workflows/repolinter.yml
  flake.nix
  scripts/check-non-western.py
Due: nixpkgs-fmt, yamllint

refactor: centralize environment setup into the `setup-env` action and update the `repolinter` workflow to utilize it.
  .github/actions/setup-env/action.yml
  .github/workflows/repolinter.yml
Due: yamllint

feat: add working_directory input to setup actions to enable environment setup and dependency installation in specified subdirectories.
  .github/actions/setup-bun-env/action.yml
  .github/actions/setup-env/action.yml
  .github/actions/setup-nix-env/action.yml
  .github/workflows/repolinter.yml
Due: yamllint

feat: Conditionally install Nix and Bun in GitHub Actions workflows and consolidate Nix setup into a dedicated action.
  .github/actions/setup-env/action.yml
  .github/actions/setup-nix-env/action.yml
Due: yamllint

feat: Ensure actionlint config exists by copying a default if not present.
  .github/workflows/repolinter.yml
Due: yamllint

docs: add PORTS.md for service coordination
  docs/PORTS.md
Due: markdownlint

ci: Add GitHub Actions workflow for Repolinter self-linting.
  .github/workflows/repolinter-caller.yml
Due: yamllint

ci: ignore local nix environment artifacts
  .gitignore
Due: none

ci: setup ~/.npmrc in unified-version action
  .github/actions/unified-version/action.yml
Due: yamllint

ci: setup global and local .npmrc in unified-version action
  .github/actions/unified-version/action.yml
Due: yamllint

ci: export NPM_TOKEN to GITHUB_ENV in unified-version
  .github/actions/unified-version/action.yml
Due: yamllint

feat: Configure npm authentication for GitHub Packages for semantic release.
  .github/workflows/semantic-release.yml
Due: yamllint

fix: skip missing files and broken symlinks in check-non-western.py
  scripts/check-non-western.py
Due: none

fix(ci): expose NODE_AUTH_TOKEN to setup-bun-env
  .github/actions/setup-env/action.yml
  scripts/check-non-western.py
  scripts/setup-hooks.sh
  scripts/versions.sh
Due: yamllint

feat: Add OIDC token availability check to ensure proper OIDC token generation permissions.
  .github/actions/docker-push-sign/action.yml
Due: yamllint

feat: export setupHooks in lib for shared use
  flake.nix
Due: nixpkgs-fmt
