Repository coderbunker/modern-resume-env: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixpkgs-fmt, yamllint, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: shellcheck
        name: shellcheck
        entry: shellcheck
        language: system
        types: [shell]
        exclude: ^\.envrc$
      - id: shfmt
        name: shfmt
        entry: shfmt -w
        language: system
        types: [shell]
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        entry: nixpkgs-fmt
        language: system
        types: [nix]
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        types: [yaml]
        args: [-d, "{extends: relaxed, rules: {line-length: disable}}"]
      - id: markdownlint
        name: markdownlint
        entry: markdownlint --fix
        language: system
        types: [markdown]
        exclude: ^CHANGELOG\.md$
      - id: hadolint
        name: hadolint
        entry: hadolint
        language: system
        types: [dockerfile]

ci: use standardized docker-tag-generator from develop branch in reusable CI
  .github/workflows/docker-ci.yml
Due: yamllint

debug: add logging to docker-tag-generator
  .github/actions/docker-tag-generator/action.yml
Due: yamllint

feat: centralize registry configuration in actions
  .github/actions/docker-check-size/action.yml
  .github/actions/docker-push-sign/action.yml
  .github/actions/post-build-notification/action.yml
  .github/workflows/docker-ci.yml
Due: yamllint

feat: add base_image_name to post-build-notification
  .github/actions/post-build-notification/action.yml
Due: yamllint

feat: add hardcoded registry check to repolinter (fixed formatting)
  .github/workflows/repolinter.yml
Due: yamllint

feat: generalize forbidden string check in repolinter (fixed formatting)
  .github/scripts/check-forbidden-strings.sh
  .github/workflows/repolinter.yml
Due: yamllint

docs: Update modern-resume-backend port to 3002 in PORTS.md.
  docs/PORTS.md
Due: markdownlint

feat: Add SOPS age key discovery and warning to flake.nix and create SOPS configuration documentation.
  docs/SOPS.md
  flake.nix
Due: nixpkgs-fmt, markdownlint

feat(compose): add robust multi-profile validation script
  .pre-commit-config.yaml
  flake.nix
  scripts/buns.sh
  scripts/validate-compose.sh
  scripts/validate-env.ts
Due: nixpkgs-fmt, yamllint

feat(pre-commit): centralize hooks definition
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Due: yamllint

feat(flake): export validate-compose in lint group
  flake.nix
Due: nixpkgs-fmt

feat(flake): export buns in cicd group
  flake.nix
Due: nixpkgs-fmt

fix(scripts): eliminate noisy output in buns
  scripts/buns.sh
Due: none

feat: fix shellcheck for attach services loop
  .github/actions/docker-smoke-test/action.yml
  .github/scripts/smoke-test.sh
Due: yamllint

feat: export sopsHook in lib for inheritance
  flake.nix
Due: nixpkgs-fmt

feat: improve SOPS Age Key discovery feedback
  flake.nix
Due: nixpkgs-fmt

chore: upgrade GitHub Actions to Node 24 support
  .github/workflows/docker-ci.yml
  .github/workflows/lint.yml
  .github/workflows/semantic-release.yml
  .github/workflows/test-buns.yml
Due: yamllint

fix: handle existing tags in docker-check-size script to avoid double tagging
  .github/scripts/docker-check-size.sh
Due: none

feat: add 'dockers' SOPS wrapper for Docker Compose
  flake.nix
  scripts/dockers.sh
Due: nixpkgs-fmt

fix: use eval for sops injection in dockers wrapper
  scripts/dockers.sh
Due: none

feat: log secret source file in buns and dockers wrappers
  scripts/buns.sh
  scripts/dockers.sh
Due: none

Chore: Reformat `validate-compose.sh` and adjust `shellcheck` configuration for `.envrc`.
  .envrc
  .pre-commit-hooks.yaml
  scripts/validate-compose.sh
Due: yamllint

refactor: finalize transition to main-only workflow and repo settings check
  .github/actions/docker-push-sign/action.yml
  .github/actions/docker-tag-generator/action.yml
  .github/actions/unified-version/action.yml
  .github/scripts/check-repo-settings.sh
  .github/workflows/docker-ci.yml
  .github/workflows/repolinter.yml
Due: yamllint

chore: update semantic-release-action to v6
  .github/workflows/semantic-release.yml
Due: yamllint

chore: Skip validate-sops pre-commit hook in lint workflow.
  .github/workflows/lint.yml
Due: yamllint
